# Set to production when deploying and development for dev
# NODE_ENV=production

# npm run deploy and npm run dev

# PORT=80

# Google Analytics 4 Measurement ID
# GA_ID=G-XXXXXXXXXX
# See https://create-react-app.dev/docs/adding-custom-environment-variables/
# for information on defining new variables

# In most instances, this does not need to be set. Set this if you plan on
# hosting with a CDN at a different path from your homepage in package.json
# By default, PUBLIC_URL is set to the path specified as your homepage. If you
# host at a subpath, you will still need to prefix PUBLIC_URL to static assets.
# PUBLIC_URL=www.[CDN].com/personal-site

# Google Analytics 4 Measurement ID
# REACT_APP_GA_TRACKING_ID=G-XXXXXXXXXX

# Set to `production` to enable analytics and create production optimized builds
NODE_ENV=development
